.navbar{
	border-radius: 0px !important;
	border-style: none;
}

.nav li a:hover{
	color: white !important;
	background: none !important;
	font-size: 20px;

}
/*.carousel-control{
	height: 0px !important;
	width: 0px !important;
}*/

/*body h3{
		color: #074F57;
}

body p{
		color: #4B4B4B;
		font-size: 15px;
}*/

/*
body a:hover{
	color: red;
}
 body a:active{
	color: blue;
}


 body a:active{
	color: green;
}
*/

/*.bg-home{
	background:linear-gradient(100deg, rgba(0,0,128, 0.3) -30%, rgba(0,0,128, 0.4) 70%),url(../img/robot.jpg)!important; 
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: absolute;
}*/


.li{
	color: #077187;
}
.header{
		text-align: center;
		font-size: 40px;
}


/*.ul{
	list-style-type: none outside;
}*/
.portfolio{
	border-radius: 0px;
}


#footer{
		background-color: black;
		margin-top: 20px;
}
#footer h3{
			color: #074F57;
			margin-top: 40px;
}


