body h3{
		color: #074F57;
}

body p{
		color: #4B4B4B;
		font-size: 15px;
}

/*body a{
		text-decoration: none !important;
}*/

hr{
	color: #4B4B4B;
}

.bg-home{
	background:linear-gradient(100deg, rgba(0,0,128, 0.3) -30%, rgba(0,0,128, 0.4) 70%),url(../img/robot.jpg)!important; 
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.ul li{
		color: #077187;
		margin-top: 10px;
		padding: 6px;
		font-size: 16px;
}

.bs{
	box-shadow: 0 4px 10px rgba(0,0,0,43);
}
.li{
	color: #077187;
}
.header{
		text-align: center;
		font-size: 40px;
}

.section:p{
			font-size: 15px;
}
.section:h3{
			font-size: 30px;
			text-align: center;
}
.ul{
	list-style-type: none outside;
}


#footer{
		background-color: #4B4B4B;
		margin-top: 20px;
		padding-bottom: 10px;
}
#footer h3{
			color: #077187;
			margin-top: 40px;
}
#footer p{
			color: white;
}

s