/*body{
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #7f7f7f !important;
  line-height: 1.7px !important;
}*/
@font-face{
  font-family: 'Lato';
  src: url('../../Philosopher/Philosopher-Bold.ttf');
  src: url('../../Philosopher/Philosopher-BoldItalic.ttf');
  src: url('../../Philosopher/Philosopher-Italic.ttf');
  src: url('../../Lato/Lato-Regular.ttf');
}
.text{
  font-family: 'Lato', sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #808782; !important;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;

}


.front-page{
    background-image: url('../img/robot.jpg');
    background-repeat: no-repeat;
    background-size: cover !important;
    position: relative;
    padding-top: 198px;
    padding-bottom: 30%;
    overflow-x: hidden;
    background-attachment: fixed !important;
    background-blend-mode: normal !important;
}
.navbar{
  position: absolute;
  margin-top: -180px;
}

.services-icon i{
  font-size: 100px;
  color: navy;
}
.social-icon i{
  font-size: 30px !important;
  padding: 5px !important;
  color: #808782;
}
.social-icon i:hover{
  color: navy;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
  left: -12px;
  width: 4% !important;
  top: 150px !important;
}
.carousel-control.right {
  right: -12px;
  background:navy !important;
}
.carousel-control.left {
  left: -12px;
  background:navy !important;
  
}
/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  left: 77% !important;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0;
}
.carousel-indicators .active {
background: navy !important;
}


